* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'helvetica neue';
 color: white;
}
html,
body {
 height: 100%;
 width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 20% 15% 15% 20% 30%;
    grid-template-areas: 
    "left-top center-top center-top right-top"
    "left-top center-top center-top right-mid-1"
    "left-mid center-mid center-mid right-mid-1"
    "left-mid center-mid center-mid right-mid-2"
    "left-bottom left-bottom right-bottom right-bottom"
    ;
    padding: 12px 24px;
    background-color: #222;
}

.left-top{
    grid-area: left-top;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 2px 20px;
}



.profile-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    /* border: 2px solid black; */
    background: linear-gradient(#555, #222);
    padding: 4px 8px;
}
.profile{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.pro-content{
    font-size: 14px;
}
.left-top h1{
    font-size: 32px;
    font-weight: 500;
}
.left-top>p{
    font-size: 16px;
    font-weight: 200;
}



.left-mid{
    grid-area: left-mid;
    /* background-color: #fafa; */
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5%;
    padding: 4px 20px;
}
.left-mid img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.left-mid .stack{
    width: 50%;
    height: 100%;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    background: linear-gradient(#555, #222);
    padding: 6px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stack-content{
    font-size: 14px;
}
.stack-content h2{
    font-weight: 400;
}

.stack-item{
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
    align-self: center;
    gap: 8px 0;
}

.stack-item i{
    width: 60%;
    height: 100%;
    background-color: #111;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: white;
}

.stack-item img{
    background-color: #fff;
    color: white;
    width: 60%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.left-bottom{
    grid-area: left-bottom;
    /* background-color: #fbf1; */
    background: linear-gradient(#555, #222);
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 4px 20px;
    /* border: 2px solid black; */
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding: 0 20px;
}

.left-bottom .lb-content{
    width: 50%;
}

.left-bottom img{
    width: 120px;
    height: 100px;
}

.center-top{
    grid-area: center-top;
    /* background-color: #f1f4; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 5%; */
    /* border: 2px solid red; */
    padding: 4px 20px;
}
.center-top img{
    width: 48%;
    height: 100%;
    /* background-color: #fff; */
    /* border: 2px solid black;  */
    object-fit: cover;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.center-mid{
    grid-area: center-mid;
    /* background-color: #f6f2; */
    padding: 4px 20px;
}
.center-mid img{
    width: 100%;
    height: 100%;
    object-fit: bottom;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.right-top{
    grid-area: right-top;
    /* background-color: #f7fb7e; */
    /* background: linear-gradient(#555, #222); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;

}
.rt-items{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
    align-self: center;
    padding: 8px;
    /* background-color: #333; */
    background: linear-gradient(#555, #222);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.rt-items i{
    padding: 8px;
    font-size: 30px;
    width: 50%;
    height: 80%;
    background-color: #111;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: white;
}

.right-mid-1{
    grid-area: right-mid-1;
    /* background-color: #fbcd23; */
    background: linear-gradient(#555, #222);
    margin: 4px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding: 6px 10px;
}
.right-mid-1 h2{
    font-weight: 400;
}

.right-mid-1 button{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: transparent;
    border: none;
}
.right-mid-1 button i{
    font-size: 32px;
    background-color: #111;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.right-mid-2{
    grid-area: right-mid-2;
    /* background-color: #000000; */
    background: linear-gradient(#555, #222);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    /* border: 2px solid #111; */
}
.right-mid-2 button{
    width: 30%;
    font-size: 25px;
    background-color: #fff;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
}
.right-mid-2 button i{
    width: 40%;
    background-color: #111;
    color: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 270deg;
}

.right-bottom{
    grid-area: right-bottom;
    /* background-color: #ee1e0e; */
    background: linear-gradient(#555, #222);
    margin: 4px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding: 6px 10px;
}

.rb-text{
    width: 60%;
}

.right-bottom h1{
    font-weight: 400;
}

.right-bottom button{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: transparent;
    border: none;
}
.right-bottom button i{
    font-size: 32px;
    background-color: #111;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
